server:
  port: 8081
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  cloud:
    config:
      import: ${SPRING_CONFIG_IMPORT:optional:configserver:http://localhost:8888}
  application:
    name: STATION-SERVICE  # Phải khớp với lb://STATION-SERVICE trong API Gateway

  datasource:
    url: jdbc:mysql://localhost:3306/station_service_db?allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=utf8&useUnicode=true
    username: root
    password: huynhdat123@

# Eureka client config (có thể override từ config server)
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: false
    hostname: ${HOSTNAME:station-service}
    non-secure-port: 8081
    instance-id: ${spring.application.name}:${server.port}

# --- Actuator Configuration ---
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized