server:
  port: 8083
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  application:
    name: PAYMENT-SERVICE  # Phải khớp với tên trong FeignClient và API Gateway route
  
  config:
    import: ${SPRING_CONFIG_IMPORT:optional:configserver:http://localhost:8888}

  datasource:
    url: jdbc:mysql://localhost:3306/payment_service_db?allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=utf8&useUnicode=true
    username: root
    password: huynhdat123@

  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:guest}
    password: ${SPRING_RABBITMQ_PASSWORD:guest}

# Eureka client config
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: false
    hostname: ${HOSTNAME:payment-service}
    non-secure-port: 8083
    instance-id: ${spring.application.name}:${server.port}

# --- Actuator Configuration ---
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized